.chart {
  margin-bottom: 25px;
}

.chart-last-year {  
  margin: 25px auto;
  position: relative;
  width: 960px;
  height: 105px;
}

.last-year-info {  
  overflow: hidden;
}

.last-year-strike {  
  width: 33%;
  float: left;
  padding: 5px;
}

.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack:justify;
  -ms-justify-content:center;
  justify-content:center;
}

.flex-row {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25px;
  text-align: center;
  border: 2px solid white;
}

.flex-row.title {
  text-align: right;
  padding-right: 15px;
  width: 100px;
}

.flex-row.text {
  font-size: 11px;
  font-weight: bold;
}