.starting {
  font-size: 28px;
  padding: 50px 10px;

  background: rgb(32,32,32);
  color: rgb(255,255,255);
}

.starting a {
  color: rgb(151,215,169);
}

.starting li {
  margin: 10px auto;
}

.faq {
  padding: 25px 0;
}

.author {
  display: block;
  width: 50%;
  padding: 10px;
  float: left;
  text-align: center;
}

.author-avatar {
  width: 100%;
  max-width: 100px;
}