<h1 class="text-center">Beer Palls</h1>

<p class="text-center">Records your drinking activity since 2014.</p>

<h3>Getting started</h3>

<ol>
  <li>Fork and clone <a href="https://github.com/beerpals/beerhub">beerhub repository</a></li>
  <li>Commit your beer <code>git commit -m 'Mikkeller Geek Brunch Weasel' --allow-empty</code></li>
  <li>Push your changes <code>git push origin master</code></li>
  <li>Check out your stats <code>https://beerpals.github.io/#!/username</code></li>
</ol>

<h3>FAQ</h3>

<p>How to commit beer you have drunk a few hours ago?</p>
<ul>
  <li><code>git commit -m 'St. Bernardus Abt 12' --date 'Wed Apr 9 23:53 2014 +0200' --allow-empty</code></li>
</ul>

<h3>Authors</h3>

<a href="#!/janantala" class="author">
  <img src="https://avatars.githubusercontent.com/u/840789?" alt="Jan Antala" class="author-avatar">
  <h4>Jan Antala</h4>
</a>

<a href="#!/feromakovi" class="author">
  <img src="https://avatars.githubusercontent.com/u/805629?" alt="Richard Samela" class="author-avatar">
  <h4>Richard Samela</h4>
</a>