<div class="container">
  <nav class="beerhub-nav">
    <a href="/">
      <img src="https://avatars0.githubusercontent.com/u/7156899" class="logo" alt="Beer Pals">
    </a>

    <div>
      <h1>Beer Palls</h1>
      <h4>Records and visualizes your drinking activity since 2014.</h4>
    </div>
  </nav>
</div>

<div class="container">

  <div class="btn-group">
    <button class="btn" ng-class="(currentImg=='calendar') ? 'btn-success' : 'btn-default'" ng-click="currentImg = 'calendar'">Calendar</button>
    <button class="btn" ng-class="(currentImg=='hour') ? 'btn-success' : 'btn-default'" ng-click="currentImg = 'hour'">By Hour</button>
    <button class="btn" ng-class="(currentImg=='day') ? 'btn-success' : 'btn-default'" ng-click="currentImg = 'day'">By Day</button>
    <button class="btn" ng-class="(currentImg=='month') ? 'btn-success' : 'btn-default'" ng-click="currentImg = 'month'">By Month</button>
    <button class="btn" ng-class="(currentImg=='schedule') ? 'btn-success' : 'btn-default'" ng-click="currentImg = 'schedule'">Schedule</button>
  </div>

  <div class="promo">
    <div ng-show="currentImg=='calendar'"><img src="img/calendar.png" class="promo-image" alt="calendar"/></div>
    <div ng-show="currentImg=='hour'"><img src="img/hour.png" class="promo-image" alt="hour"/></div>
    <div ng-show="currentImg=='day'"><img src="img/day.png" class="promo-image" alt="day"/></div>
    <div ng-show="currentImg=='month'"><img src="img/month.png" class="promo-image" alt="month"/></div>
    <div ng-show="currentImg=='schedule'"><img src="img/schedule.png" class="promo-image" alt="schedule"/></div>

    <p class="text-center"><a href="/#!/feromakovi">And many more...</a></p>
  </div>

</div>

<div class="starting">

<div class="container">
  <h2 class="starting-header">Create your own charts!</h2>
  <ol>
    <li>Fork and clone <a href="https://github.com/beerpals/beerhub">beerhub repository</a></li>
    <li>Commit your beer <br><code>git commit -m 'Mikkeller Geek Brunch Weasel' --allow-empty</code></li>
    <li>Push your changes <code>git push origin master</code></li>
    <li>Check out your stats <code>https://beerpals.github.io/#!/username</code></li>
  </ol>
</div>


</div>

<div class="faq container">
  
<h3 class="faq-h3">FAQ</h3>

<h4 class="faq-h4">Do I really need to clone the beerhub repository?</h4>

<ul>
  <li class="faq-li">No, you can create your own repository and name it <code>beerhub</code>, but your drinking activity will be also recorded in the github timeline.</li>
</ul>

<h4 class="faq-h4">How to commit beer you have drunk a few hours ago?</h4>

<ul>
  <li class="faq-li">Change commit date: <br>
    <code>git commit -m 'St. Bernardus Abt 12' --date 'Wed Apr 9 23:53 2014 +0200' --allow-empty</code>
  </li>
</ul>

<h4 class="faq-h4">How to change the commit message of beer you drank and already committed?</h4>

<ul>
  <li class="faq-li">If it is just the last one, you can use <code>ammend</code> parameter: <br>
    <code>git commit --amend -m 'St. Bernardus Tripel' --date 'Wed Apr 9 23:53 2014 +0200' --allow-empty</code>
  </li>

  <li class="faq-li">Otherwise you need repeat <code>git reset --hard HEAD^</code> to remove the last commit for all wrong commit messages and then add the new commits <code>git commit -m 'St. Bernardus Abt 12' --date 'Wed Apr 9 23:53 2014 +0200' --allow-empty</code></li>

  <li class="faq-li">If you already pushed to github don't forget to <code>git push -f origin master</code>.</li>
</ul>

<h4 class="faq-h4">Do you show all commits in my timeline?</h4>

<ul>
  <li class="faq-li">No, we use only master branch and commits from registered github email address.</li> 

  <li class="faq-li">We also filter commits and hide those which message starts with the following:
    <ul>
      <li>feat:</li>
      <li>chore:</li>
      <li>style:</li>
      <li>fix:</li>
      <li>test:</li>
      <li>docs:</li>
      <li>Merge</li>
    </ul>
  </li>
</ul>

</div>