<h1>{{user}}</h1>

<section class="chart">
  <h4 class="center">Your contributions</h4>

  <div class="last-year">

    <div class="contributions last-year-contribution"
      ng-repeat="day in analytics.lastYearArr"
      ng-class="[getContributionClass(day.length, maxLastYear)]"
      ng-style="getContributionPosition((firstDay + $index) % 7, (firstDay + $index) / 7)"
    >
    </div>
  </div>

  <div>
    <h4>
      {{totalContributions}} total
    </h4>
    <p ng-show="longestStreak.startIndex >= 0 && longestStreak.endIndex >=0">
      {{getContributionDate(0, analytics.lastYearArr) | date}} - 
      {{getContributionDate(analytics.lastYearArr.length - 1, analytics.lastYearArr) | date}}
    </p>
    <p>Year of contributions</p>
  </div>

  <div>
    <h4>
      <ng-pluralize
        count="longestStreak.days"
        when="{
          '0': '{{longestStreak.days}} days',
          '1': '{{longestStreak.days}} day',
          'other': '{{longestStreak.days}} days'
        }"
      ></ng-pluralize>
    </h4>
    <p ng-show="longestStreak.startIndex >= 0 && longestStreak.endIndex >=0">
      {{getContributionDate(longestStreak.startIndex, analytics.lastYearArr) | date}} - 
      {{getContributionDate(longestStreak.endIndex, analytics.lastYearArr) | date}}
    </p>
    <p>Longest streak</p>
  </div>

  <div>
    <h4>
      <ng-pluralize
        count="currentStreak.days"
        when="{
          '0': '{{currentStreak.days}} days',
          '1': '{{currentStreak.days}} day',
          'other': '{{currentStreak.days}} days'
        }"
      ></ng-pluralize>
    </h4>
    <p ng-show="currentStreak.startIndex >= 0 && currentStreak.endIndex >=0">
      {{getContributionDate(currentStreak.startIndex, analytics.lastYearArr) | date}} - 
      {{getContributionDate(currentStreak.endIndex, analytics.lastYearArr) | date}}
    </p>
    <p>Current streak</p>
  </div>

</section>

 
<section class="lastyear chart">
  <h4 class="center">Year</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Month
    </div>
    <div class="flex-row text" ng-repeat="month in months">
      {{strings.SHORTMONTH[$index]}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row contributions"
      ng-repeat="month in analytics.yearArr"
      ng-class="getContributionClass(month.length, maxYear)"
    >
    </div>
  </div>
</section>


<section class="week chart">
<h4 class="center">Week</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Day
    </div>
    <div class="flex-row text" ng-repeat="day in days">
      {{strings.SHORTDAY[$index]}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row contributions"
      ng-repeat="day in analytics.weekArr"
      ng-class="getContributionClass(day.length, maxWeek)"
    >
    </div>
  </div>
</section>



<section class="day chart">
  <h4 class="center">Day</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Hour
    </div>
    <div class="flex-row text" ng-repeat="hour in hours">
      {{hour}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row contributions"
      ng-repeat="hour in analytics.dayArr"
      ng-class="getContributionClass(hour.length, maxDay)"
    >
    </div>
  </div>
</section>



<section class="weekhours chart">
  <h4 class="center">Schedule</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Day / Hour
    </div>
    <div class="flex-row text" ng-repeat="hour in dayHours">
      {{hour}}
    </div>
  </div>

  <div ng-repeat="day in analytics.weekhoursArr" class="flex-container">
    <div class="flex-row title text">
      {{strings.DAY[$index]}}
    </div>
    <div class="flex-row contributions"
      ng-repeat="hour in day"
      ng-class="getContributionClass(hour.length, maxWeekHours)"
    >
    </div>
  </div>
</section>

  <p ng-repeat="commit in commits">
    {{commit.message}} | {{commit.date | date}}
  </p>